@font-face {
  font-family: "LCD";
  font-style: normal;
  font-weight: normal;
  src: local("LCD"), url("../assets/fonts/DS-DIGII.TTF");
}

.button_calc {
  border: none;
  background-color: rgb(112, 158, 94);
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  border-radius: 5rem;
  outline: none;
  box-shadow: 0 0 6px white;
}

.button_calc:hover {
  background-color: rgba(67, 218, 21, 0.432);
}

.equals {
  grid-column: 3 / 5;
  background-color: rgb(243, 61, 29);
}

.equals:hover {
  background-color: rgb(228, 39, 15);
}

.buttonBox {
  width: 100%;
  height: calc(100% - 110px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
}
.screen {
  font-family: "LCD";
  height: 100px;
  width: 100%;
  margin-bottom: 10px;
  padding: 0 10px;
  background-color: #25c9162d;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: rgba(39, 39, 39, 0.76);
  box-sizing: border-box;
}
.wrapper {
  margin-top: 3rem;
  margin: 0 auto;
  width: 400px;
  height: 600px;
  padding: 10px;
  border-radius: 10px;
  background-color: #485461;
  
}
