@font-face {
    font-family: "LCD Ultra";
    font-style: normal;
    font-weight: normal;
    src: local("LCD Ultra"), url("../assets/fonts/LCD-U___.woff") format("woff");
  }
  
  .lcd__display {
    overflow: hidden;
    font-family: "LCD Ultra";
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 128, 0, 0.3);
    height: 100px;
    border-radius: 1rem;
    display: flex;
    align-items: baseline;
    justify-content: end;
    font-size: 4.5rem;
    margin-bottom: 2rem;
    padding-right: 1rem;
  }
  .calculadora {
    box-sizing: border-box;
    border: 2px solid black;
    padding: 2rem;
    border-radius: 2rem;
    background-color: rgba(32, 32, 32, 0.171);
    margin: 0 auto;
    width: 1000px;
  }
  .button__number {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(21, 216, 216);
    font-weight: 900;
    font-size: 3rem;
    border-radius: 3rem;
    border: 1px solid white;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    height: 6rem;
    width: 6rem;
  }
  @media (max-width: 1000px) {
    .calculadora {
      width: 500px;
    }
    .button__number {
      font-size: 3rem;
      height: 5rem;
      width: 5rem;
    }
  }
  
  @media (max-width: 500px) {
    .calculadora {
      width: 300px;
    }
    .button__number {
      font-size: 2rem;
      height: 3rem;
      width: 3rem;
    }
    .lcd__display {
      font-size: 2rem;
      align-items: center;
    }
  }